By <a href="/{{ article.author.url }}" class="author post-author" rel="author">{{ article.author }}</a>
<span>
 on <abbr class="published dt-published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
</span>
category
<a class="post-category post-category-{{article.category}} p-category" href="/{{article.category.url}}" rel="tag">{{article.category}}</a>
tags
{% for tag in article.tags|sort %}
    <a class="post-category post-category-{{tag}} p-category" href="/{{tag.url}}" rel="tag">{{tag}}</a>
{% endfor %}
{% if article.readtime %}
<div class="readtime">
    Read in {{article.readtime.minutes}} min.</b>
</div>
{% endif %}
