{% extends "base.html" %}

{% block content %}
<section id="content">

{% for article in articles_page.object_list|sort(attribute='date', reverse=True) %}
<section class="post">
    <header class="post-header">
        <img alt="{{ article.author }}'s avatar" class="post-avatar" src="{{GRAVATAR_IMAGE}}" height="48" width="48">
        <h2 class="post-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h2>
        <p class="post-meta">
            {% include 'article_info.html' %}
        </p>
    </header>

    <div class="post-description">
        {{ article.summary }}
    </div>
    <a class="pure-button" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">Continue reading &rarr;</a>
</section>
{% endfor %}

{% include 'pagination.html' %}

</section>
{% endblock content %}
