<div>
    {% for name, link in SOCIAL %}
        <a href="{{ link }}" title="{{ name }}" target="_blank" rel="me"><i class="fi-social-{{ name }} large"></i></a>
    {% endfor %}
    {% if EMAIL %}
        <a href="mailto:{{ EMAIL }}"  title="e-Mail" target="_blank" rel="me"><i class="fi-mail large"></i></a>
    {% endif %}
</div>
<!--
<ul >
    {% for name, link in SOCIAL %}
        <li class="pure-menu-item">
            <a href="{{ link }}" title="{{ name }}" class="pure-menu-link" target="_blank" rel="me"><i class="fi-social-{{ name }} large"></i></a>
        </li>
    {% endfor %}
    {% if EMAIL %}
        <li class="pure-menu-item">
            <a href="mailto:{{ EMAIL }}"  title="e-Mail" class="pure-menu-link" target="_blank" rel="me"><i class="fi-mail large"></i></a>
        </li>
    {% endif %}
</ul>
-->
